include MANIFEST.in
include README.md
include LICENSE.md
include VERSION
include src/pytransit/DejaVuSans.ttf
recursive-include src/pytransit/data *
recursive-include src/pytransit/genomes *
recursive-include src/pytransit/doc/build/html *.html
recursive-include src/pytransit/doc/build/html/_images *.png
recursive-include src/pytransit/doc/build/html/_modules *
recursive-include src/pytransit/doc/build/html/_static *
